# Токен и chat_id пользователя
BOT_TOKEN=
CHAT_ID=

# Путь к хранилищу Obsidian и папке с тасками. Поле TASKS_FOLDER можно оставить пустым и указывать абсолютные пути или от от корневого хранилища Obsidian
OBSIDIAN_VAULT_PATH=D:/Obsidian/Obsidian
#OBSIDIAN_VAULT_PATH=/mnt/data/Obsidian/Obsidian/
TASKS_FOLDER=Tasks

# --- НАСТРОЙКИ ПРОКСИ ---
# PROXY_URL=http://127.0.0.1:10808
# 1. Если нужна жесткая привязка (например, купил прокси) — раскомментируй и впиши:
# PROXY_URL=socks5://user:pass@111.222.333.444:1080
# 2. Если строка выше закомментирована, бот проверит порт 10808 (socks5 http).
PROXY_TYPE=socks5
# 3. Логин и пароль от локального прокси (если в INCI включена галочка авторизации).
# Если пароль не нужен (HAPP) — просто оставь эти строки пустыми или удали.
PROXY_USER=
PROXY_PASS=