# Токен и chat_id пользователя
BOT_TOKEN=
CHAT_ID=

# Путь к хранилищу Obsidian и папке с тасками. Поле TASKS_FOLDER можно оставить пустым и указывать абсолютные пути или от от корневого хранилища Obsidian
OBSIDIAN_VAULT_PATH=D:/Obsidian/Obsidian
TASKS_FOLDER=Tasks